<div class="container">

    <!--  <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label> Nom Vetement </label>
        <input type="text" class="form-control" [(ngModel)]="nomVetement" name="nomVetement" class="form-control">
        <button type="submit" (click)="rechercherVets()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
    </form>  -->

   <!--  <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Vetement en tapant</label>
        <input type="text" [(ngModel)]="nomVetement" name="nomVetement" class="form-control">
        </div>
    </form>  -->

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Vetement en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
    </form>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Genre</th> <th>Catégorie</th></tr>
                </thead>
                <tbody *ngFor="let vetement of vetements | filter:searchTerm">
                    <tr >
                        <td>{{vetement.idVetement}}</td>
                        <td>{{vetement.nomVetement}}</td>
                        <td>{{vetement.prixVetement}}</td>
                        <td>{{vetement.genreVetement}}</td>
                        <td>{{vetement.marque.nomMarque}}</td>
                        <!-- <td><a class="btn btn-danger" (click)="supprimerVetement(vetement)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateVetement',vetement.idVetement]">Modifier</a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


