<div class="container">

    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label> Marques </label>
        <select class="form-control form-control-lg" id="idMarque" name="idMarque" [(ngModel)]="IdMarquee" (change)="onChange()">
            <option *ngFor="let mq of marques" value="{{mq.idMarque}}">
                {{mq.nomMarque}}
            </option>
        </select>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Genre</th> <th>Catégorie</th></tr>
                </thead>
                <tbody *ngFor="let vetement of vetements">
                    <tr >
                        <td>{{vetement.idVetement}}</td>
                        <td>{{vetement.nomVetement}}</td>
                        <td>{{vetement.prixVetement}}</td>
                        <td>{{vetement.genreVetement}}</td>
                        <td>{{vetement.marque.nomMarque}}</td>
                        <!-- <td><a class="btn btn-danger" (click)="supprimerVetement(vetement)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateVetement',vetement.idVetement]">Modifier</a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

